@import url('/styles/style.css');

.about-info {
    width: 100%;
    display: flex;
    margin: 5%;
    
}

.about-english {
    width: calc(33.33% - 20px);
    padding: 3%;
    color: white;
    margin: 2%; 
}

.gallery-box {
    width: calc(33.33% - 20px);
    display: flex;
    margin: 2%;
}


.about-hebrew{
    width: calc(33.33% - 20px);
    padding: 5% 2%;
    color: white;
    text-align: right;
    margin: 2%;
}

.gallery {
    padding: 2%;
    width: 30%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 5vw);
    grid-gap: 1%;
}

.gallery__img {
    width: 100%;
    height: 120px;
    object-fit: cover;
}

.gallery__img:hover {
    box-shadow: 2px 2px 5px black;
}
.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.gallery__item--2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}

.gallery__item--3 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 3;
}

.gallery__item--4 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
}

.gallery__item--5 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 5;
}

.gallery__item--6 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 5;
}

.gallery__item--7 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 7;
}

.gallery__item--8 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 7;
}

.gallery__item--9 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 7;
}

